{% load static %}
{% load tz %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<head>
<title>My Status</title>
</head>
    <style>
        body{
            background-color: rgb(233, 233, 233);
            font-family: Arial, Helvetica, sans-serif;
        }
        .hello{
            text-align: center;
            margin-top: 2vw;
        }
        #id_Status{
            width: 35%;
            padding: 0.5vw;
            margin: 1vw;
            margin-left: 26vw;
            border-radius: 0.5vw;
            border: 0.5px solid #969696;
        }
        .tombol{
            text-align: right;
            margin-right: 18vw;
        }
        .save{
            text-align: center;
            font-size: 20px;
            border-radius: 1vw;
            padding: 0.7vw;
            color: rgb(64, 196, 240);
            background-color: rgb(233,233,233);
            border: 2px solid rgb(64, 196, 240);
        }
        .line{
            width: 78vw;
            height: 3px;
            top: 9vw;
            margin-bottom: 1%;
            margin-top: 1%;
            background: rgb(161, 161, 161);
        }
        .tulisan_status{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }
    </style>
    <body>
        <div class="container">
            <div class="col-12 form">
                <h1 class="hello"> Hey! How are you?</h1>
                <form action="/my-status/" method="post">
                    {% csrf_token %}
                    {{ status_form.as_p }}
                <div class="tombol">
                    <input type="Submit" class="save btn btn-default" value="Submit">
                </div>
                </form>
                {% for take_status in all_status %}
                    <div class="line"></div>
                    <p class="tulisan_status"> Status : {{take_status.Status}} </p>
                    {% timezone "Asia/Jakarta" %}
                        <p> Date : {{take_status.Date}}</p>
                    {% endtimezone %}
                {% endfor %}
            </div>
        </div>
    </body>
</html>
